<h3 class="text-center">My Orders</h3>
<div class="container">
  <table class=" table table-light">
    <thead class="thead-light">
      <tr>
        <th>okta id</th>
        <th>order id</th>
        <th>date</th>
        <th>status</th>
        <th>tracking number</th>
        <th>total bill</th>
        <th>details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let o of orders | paginate: { itemsPerPage: 5, currentPage: pageNum}">
        <td>{{o.oktaId}}</td>
        <td>{{o.orderId}}</td>
        <td>{{o.orderTime | date:"medium"}}</td>
        <td>{{o.orderStatus}}</td>
        <td>{{o.trackingNumber}}</td>
        <td>${{o.totalPrice}}</td>

        <td>
          <button [routerLink]="['../ordered-products',o.trackingNumber]" class="btn btn-warning">Details</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="col-lg-6 container justify-content-center d-flex mt-3" *ngIf="orders.length>5">
    <pagination-controls (pageChange)="pageNum = $event"></pagination-controls>
  </div>
</div>