<div class="container-fluid">
  <div class="container">
    <table class="table table-light">
      <thead class="thead-light">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Price</th>
          <th>Image</th>
          <th class = "ps-5">Amount</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody class="align-middle">
        <tr *ngFor="let c of cartItems! | paginate: { itemsPerPage: 5, currentPage: pageNum} ">
          <td>{{c.product.productId}}</td>
          <td>{{c.product.productName}}</td>
          <td>${{c.product.productPrice}}</td>
          <td><img class="float-left  m-2" src="{{c.product.productImage}}" alt="product image" style=" width: 50px;
                    height: 50px;"></td>

          <!-- <td (dblclick)="onEditProductAmount(true)" class="col-sm-2">
            <div *ngIf="isProductAmountEditable" class="d-flex">
              <input type="text" [(ngModel)]="c.amt" class="form-control form-control-sm mx-2" autocomplete required />

              <button class="btn btn-sm btn-primary" (click)="onSaveProductAmount(c)">save</button>
            </div>
            <div *ngIf="!isProductAmountEditable" class="btn btn-light">
              {{c.amt}}
            </div>
          </td> -->
          <td class>
            <button (click)="c.amt!=1? c.amt=c.amt-1:1; saveAmount()" class="btn amt-btn"><i
                class="bi bi-caret-down-fill"></i></button>
            <span class="item-amount text-center px-3 py-2 border mx-2 rounded" aria-disabled="true">{{c.amt}}</span>
            <button (click)="c.amt!=c.product.productStock? c.amt=c.amt+1:c.product.productStock; saveAmount()"
              class="btn amt-btn"><i class="bi bi-caret-up-fill"></i></button>
          </td>
          <td>
            <button class="btn btn-warning btn-sm" (click)="removeItem(c.product)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="col-lg-6 container justify-content-center d-flex mt-3" *ngIf="cartItems!.length>5">
    <pagination-controls (pageChange)="pageNum = $event"></pagination-controls>
  </div>
  <div class="checkoutbtn mt-3 d-flex justify-content-center" *ngIf="cartItems!.length>0">
    <a class="btn btn-primary" role="button" routerLink="/checkout">Checkout</a>
  </div>

</div>
