<!doctype html>
<html lang="en">

<head></head>

<body>

  <div class="container">
    <div class="py-3 text-center">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkoqrIYhUz9oaem72d5xSZmHm9nDTWhZcKhQ&usqp=CAU"
        alt="logo" width="80" height="80">
      <h2>Checkout</h2>
    </div>

  </div>
  <div class="container">
    <h4 class="mt-5">Billing Address</h4>
    <form #checkOutForm = "ngForm">
      <div class="row">
        <div class="col-sm-5">
          <label for="firstName">First Name</label>
          <input [(ngModel)]="billingAddressId.firstName" input id="firstName" class="form-control" type="text"
            name="firstName" #firstName = "ngModel" required >
          <span *ngIf = "firstName.touched && firstName.invalid" class = "errormessage" style = "color:red">Enter first name</span>
        </div>
        <div class="col-sm-5">
          <label for="lastName">Last Name</label>
          <input [(ngModel)]="billingAddressId.lastName" input id="lastName" class="form-control" type="text"
            name="lastName" #lastName = "ngModel" required>
            <span *ngIf = "lastName.touched && lastName.invalid" class = "errormessage" style = "color:red">Enter last name</span>
        </div>
        <div class="col-sm-5">
          <label for="StreetAddress">Street Address</label>
          <input [(ngModel)]="billingAddressId.streetAddress" input id="StreetAddress" class="form-control" type="text"
            name="streetAddress" #streetAddress = "ngModel" required>
            <span *ngIf = "streetAddress.touched && streetAddress.invalid" class = "errormessage" style = "color:red">Enter street address</span>
        </div>
        <div class="col-sm-3">
          <label for="city">City</label>
          <input [(ngModel)]="billingAddressId.city" input id="city" class="form-control" type="text" name="city"
            required #city = "ngModel">
            <span *ngIf = "city.touched && city.invalid" class = "errormessage" style = "color:red">Enter city</span>
        </div>
        <div class="col-sm-1">
          <label for="state">State</label>
          <input [(ngModel)]="billingAddressId.state" input id="state" class="form-control" type="text" placeholder="CA"
            name="state" required #state = "ngModel">
            <span *ngIf = "state.touched && state.invalid" class = "errormessage" style = "color:red">Enter state</span>
        </div>
        <div class="col-sm-4">
          <label for="zip">Zip</label>
          <input [(ngModel)]="billingAddressId.zip" input id="zip" class="form-control" type="text" placeholder="08824"
            name="zip" required #zip = "ngModel">
            <span *ngIf = "zip.touched && zip.invalid" class = "errormessage" style = "color:red">Enter zip code</span>
        </div>
        <div class="col-sm-3">
          <label for="zip">Country</label>
          <input [(ngModel)]="billingAddressId.country" input id="country" class="form-control" type="text"
            placeholder="USA" name="country" required #country= "ngModel">
            <span *ngIf = "country.touched && country.invalid" class = "errormessage" style = "color:red">Enter country</span>
        </div>

        <hr class="BlinkMacSystemFont mt-3">
        <div class="input-space">
          <label class="au-checkbox">
            <input type="checkbox" (change)="copyShippingAddressToBillingAddress($any($event))">
            <span class="au-checkmark"></span>Is your shipping address the same as your billing address?
          </label>
        </div>
        <hr class="BlinkMacSystemFont mt-3">
        <h4 class="mt-3">Shipping Address</h4>

        <div class="row" id="shippingAddressForm">
          <div class="col-sm-5">
            <label for="firstName">First Name</label>
            <input [(ngModel)]="shippingAddressId.firstName" input id="firstName" class="form-control" type="text"
              name="shippingfirstName" required #shippingfirstName= "ngModel">
              <span *ngIf = "shippingfirstName.touched && shippingfirstName.invalid" class = "errormessage" style = "color:red">Enter first name</span>
          </div>
          <div class="col-sm-5">
            <label for="lastName">Last Name</label>
            <input [(ngModel)]="shippingAddressId.lastName" input id="lastName" class="form-control" type="text"
              name="shippinglastName" required #shippinglastName = "ngModel">
              <span *ngIf = "shippinglastName.touched && shippinglastName.invalid" class = "errormessage" style = "color:red">Enter last name</span>
          </div>
          <div class="col-sm-5">
            <label for="streetAddress">Street Address</label>
            <input [(ngModel)]="shippingAddressId.streetAddress" input id="streetAddress" class="form-control"
              type="text" name="shippingstreetAddress" required #shippingstreetAddress = "ngModel">
              <span *ngIf = "shippingstreetAddress.touched && shippingstreetAddress.invalid" class = "errormessage" style = "color:red">Enter street address</span>
          </div>
          <div class="col-sm-3">
            <label for="city">City</label>
            <input [(ngModel)]="shippingAddressId.city" input id="city" class="form-control" type="text" name="shippingcity"
              required #shippingcity = "ngModel">
              <span *ngIf = "shippingcity.touched && shippingcity.invalid" class = "errormessage" style = "color:red">Enter city </span>
          </div>
          <div class="col-sm-1">
            <label for="state">State</label>
            <input [(ngModel)]="shippingAddressId.state" input id="state" class="form-control" type="text"
              placeholder="CA" name="shippingstate" required #shippingstate= "ngModel">
            <span *ngIf = "shippingstate.touched && shippingstate.invalid" class = "errormessage" style = "color:red">Enter state</span>
          </div>
          <div class="col-sm-4">
            <label for="zip">Zip</label>
            <input [(ngModel)]="shippingAddressId.zip" input id="zip" class="form-control" type="text"
              placeholder="08824" name="shippingzip" required #shippingzip = "ngModel">
            <span *ngIf = "shippingzip.touched && shippingzip.invalid" class = "errormessage" style = "color:red">Enter zip code</span>
          </div>
          <div class="col-sm-3">
            <label for="zip">Country</label>
            <input [(ngModel)]="shippingAddressId.country" input id="zip" class="form-control" type="text"
              placeholder="USA" name="shippingcountry" required #shippingcountry = "ngModel">
              <span *ngIf = "shippingcountry.touched && shippingcountry.invalid" class = "errormessage" style = "color:red">Enter country</span>
          </div>
        </div>

        <hr class="BlinkMacSystemFont mt-3">

        <h4 class="mb-3">Payment Information</h4>
        <div class="row">
          <div class="col-md-5">
            <label for="cardHolderFirstName">First Name</label>
            <input [(ngModel)]="payment.cardHolderFirstName" input id="cardHolderFirstName" type="text"
              class="form-control" name="cardHolderFirstName" required #cardHolderFirstName = "ngModel">
              <span *ngIf = "cardHolderFirstName.touched && cardHolderLastName.invalid" class = "errormessage" style = "color:red">Enter credit card holder first name</span>
          </div>

          <div class="col-md-5">
            <label for="cardHolderLastName">Last Name</label>
            <input [(ngModel)]="payment.cardHolderLastName" input id="cardHolderLastName" type="text"
              class="form-control" name="cardHolderLastName" required #cardHolderLastName = "ngModel">
              <span *ngIf = "cardHolderLastName.touched && cardHolderLastName.invalid" class = "errormessage" style = "color:red">Enter credit card holder last name</span>
          </div>
        </div>

        <div class="col-md-6">
          <label for="cardNumber">Card Number</label>
          <input [(ngModel)]="payment.cardNumber" input id="cardNumber" type="text" class="form-control"
            name="cardNumber" required #cardNumber= "ngModel">
            <span *ngIf = "cardNumber.touched && cardNumber.invalid" class = "errormessage" style = "color:red">Enter a valid 16-digit credit card number</span>

          <div class="col-md-2">
            <label for="cvv">CVV</label>
            <input [(ngModel)]="payment.cvv" type="text" class="form-control" name="cvv" required #cvv = "ngModel">
              <span *ngIf = "cvv.touched && cvv.invalid" class = "errormessage" style = "color:red">Enter a valid CVV code</span>
          </div>
        </div>
        <span class = "w-100"></span>
        <div class="alert alert-success col-sm-5 my-2 mx-auto" role="alert" *ngIf="isSubmitted">
          <strong>Order Submitted!</strong>
          <button class="close btn btn-sm mx-3 float-end" (click)="closeAlert()">X</button>
        </div>
      </div>
      <div class="container text-center">
        <button [disabled]="!checkOutForm.form.valid || isSubmitted && isConfirmed" class="btn btn-primary btn-md mb-5 mx-5"
          (click)="submitOrder()">Confirm Order</button>
          <button class="btn btn-success btn-md mb-5" [disabled] = "!isSubmitted || !isConfirmed" routerLink="/my-orders">View My Orders</button>
      </div>
    </form>
    <app-stripe-checkout></app-stripe-checkout>
  </div>
</body>

</html>







