<!-- Toolbar -->
<nav class="navbar navbar-dark bg-primary sticky-top" role="banner">
  <h1 class="mx-auto text-center" id="logo">E-Commerce App</h1>
  <ng-container *ngIf="(isAuthenticated$ | async) === false; else signedIn">
    <ul class="nav justify-content-end vertical-align-center">
      <li class="navbarlinks"><button class = "btn-default navbar-btn"><a class="hoverbtn" routerLink="/product">Products</a></button></li>
      <li class="navbarlinks"><button class = "btn-default navbar-btn"><a class="hoverbtn" routerLink="/cart-list">Cart {{getCartLength()}}</a></button></li>
    </ul>
    <button class="p-2 me-2" (click)="signIn()"> Sign in </button>
  </ng-container>
  <ng-template #signedIn>
    <!-- Thanks to https://www.w3schools.com/howto/howto_js_dropdown.asp for the logic on dropdown menus.*/ -->
    <ul class="nav justify-content-end">
      <!-- If they are an admin, display the admin links. Otherwise, display the customer links.-->
      <ng-container *ngIf="(isAdmin$ | async) === true; else customerNav">
        <li class="navbarlinks"><button class = "btn-default navbar-btn"><a class="hoverbtn" routerLink="/product-list">Edit Catalogue</a></button></li>
        <li class="navbarlinks"><button class = "btn-default navbar-btn"><a class="hoverbtn" routerLink="/order-list">Orders</a></button></li>
        <li class="navbarlinks"><button class = "btn-default navbar-btn"><a class="hoverbtn" routerLink="/order-track">Track Orders</a></button></li>
        <li class="navbarlinks"><button class = "btn-default navbar-btn"><a class="hoverbtn" routerLink="/product">Products</a></button></li>
      </ng-container>
      <ng-template #customerNav>
        <li class="navbarlinks"><button class = "btn-default navbar-btn hoverbtn"><a class="hoverbtn" routerLink="/product">Products</a></button></li>
        <li class="navbarlinks"><button class = "btn-default navbar-btn"><a class="hoverbtn" routerLink="/cart-list">Cart {{getCartLength()}}</a></button></li>
        <li class="navbarlinks"><button class = "btn-default navbar-btn"><a class="hoverbtn" routerLink="/my-orders">My Orders</a></button></li>
      </ng-template>
    </ul>
    <div class="dropdown p-2 me-4">
      <button (click)="toggleDropdown()" class="dropbtn" #userBtn>{{name$ | async}}</button>
      <!-- Thanks to https://www.w3schools.com/howto/howto_js_dropdown.asp for the logic on dropdown menus.*/ -->
      <div id="accountDropdown" class="dropdown-content">
        <a routerLink="edit-user">Edit Details</a>
        <a class="disabled" routerLink="change-password">Change Password</a>
        <a role="button" (click)="signOut()">Sign out</a>
      </div>
    </div>
  </ng-template>
</nav>

<br><br><br><br>
<!--<app-get-products></app-get-products>
<app-product-list></app-product-list> -->
<router-outlet></router-outlet>