<h1 class = "text-center">Change Password</h1>
<form id = "changePasswordForm" class="row gy-2 gx-3 justify-content-center">
    <div class="row g-3 justify-content-center">
        <div class="col-auto">
            <input id = "oldPass" type="password" class="form-control" placeholder="Current Password" aria-label="State">
        </div>
    </div>
    <div class="row g-3 justify-content-center">
        <div class="col-auto">
            <input id = "newPass" type="password" class="form-control" placeholder="New Password" aria-label="State">
        </div>
        <div class="col-auto">
            <input id = "newPass2" type="password" class="form-control" placeholder="Confirm New Password" aria-label="State">
        </div>
    </div>
    <div class="col-auto mt-3">
        <button disabled = true type="submit" (click) = "changePassword($event)" class="btn btn-primary">Set New Password</button>
    </div>
</form>
